<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Książki autora</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<h2>Książki autora: {{author.name}}</h2>
<table>
    <thead>
    <th>id</th>
    <th>tytuł</th>
    </thead>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
    </tr>
    {% endfor %}
</table>
<div>
    <h2> Dodaj nową książkę tego autora </h2>
    <form method="POST" action="/authors/{{ author.id }}">
        <table>
                <tr>
                    <th>Tytuł</th>
                    <td>{{ form.title }}</td>
                </tr>
        </table>
        <br>
        <input type="submit" value="Dodaj">
    </form>
</div>
</html>